<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
     QR Code Scan
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="vidOff()">
        <ion-icon slot="icon-only" name="exit"  ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
     
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <!-- Fallback for iOS PWA -->
  <input #fileinput type="file" accept="image/*;capture=camera" hidden (change)="handleFile($event.target.files)">
 
  <!-- Trigger the file input 
  <ion-button expand="full" (click)="captureImage()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Capturer une image
  </ion-button>
 -->
  <ion-button expand="block" shape="round" color="danger" fill="outline" (click)="startScan()">
    <ion-icon slot="start" name="qr-scanner"></ion-icon>
    Commencer le scan
  </ion-button>
 
  <ion-button expand="full" (click)="reset()" color="warning" *ngIf="scanResult">
    <ion-icon slot="start" name="refresh"></ion-icon>
    Annuler
  </ion-button>
 
  <!-- Shows our camera stream -->
  <video #video [hidden]="!scanActive" width="100%"></video>
 
  <!-- Used to render the camera stream images -->
  <canvas #canvas hidden></canvas>
 
  <!-- Stop our scanner preview if active -->
  <ion-button expand="full" (click)="stopScan()" color="danger" *ngIf="scanActive">
    <ion-icon slot="start" name="close"></ion-icon>
    Arreter le scan
  </ion-button>
 <ng-container *ngIf="scanResult">
  <ion-card *ngIf="ResultData[4] == '1'" >
    <ion-card-header style="background: chartreuse;">
      <ion-card-title>Ticket électronique valide</ion-card-title>
    </ion-card-header>
    <ion-card-content color="light" >
      Nom et Prénom: {{ResultData[0]}}<br>
      ID du Voyage: {{ResultData[1]}}<br>
      Date du Voyage: {{ResultData[2]}}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="ResultData[4] == '0'" >
    <ion-card-header style="background: red;">
      <ion-card-title>Attention! Ces informations ne sont pas valides</ion-card-title>
    </ion-card-header>
    <ion-card-content color="light">
      {{ scanResult }}
    </ion-card-content>
  </ion-card>
</ng-container>

</ion-content>