<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Reservation / Ticket Electronique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid style="height: 80%;">
    <ion-row>
      <ion-col text-center>
        {{modalClient}}
      </ion-col>
    </ion-row>   
    <ion-row>
      <ion-col text-center>
        {{modalTitle}}
      </ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col text-center>
        ID du voyage : {{modalId}}
      </ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col text-center>
        Départ : {{source}}
      </ion-col>
      <ion-col text-center>
        Arrivée : {{direction}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Date prévue du voyage : {{modalDate}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Le chauffeur : {{chauffeur}}
      </ion-col>
    </ion-row>
    <ion-row >
        <ion-col text-center >
          <ng-container *ngIf="!this.navParams.data.paramConfirme">

            <div style="color: #d3091a;">Cette réservation n'est pas encore confirmée</div>
          </ng-container>
          <ng-container *ngIf="this.navParams.data.paramConfirme">

            <div style="color: #17c520;">Cette réservation est confirmée <br> Le paiement est possible grace au QR Code suivant:</div>
          </ng-container>
       
         
        </ion-col>
    </ion-row>
    <ion-row *ngIf="this.navParams.data.paramConfirme">
      <ion-col text-center>
        <div class="center" *ngIf="myAngularxQrCode">
          <qrcode [qrdata]="myAngularxQrCode" [size]="250" [level]="'M'"></qrcode>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer>
  <div style="height: 20%;"><ion-button  expand="block" class="bottonw" (click)="closeModal()" color="danger" fill="outline">Continuer</ion-button></div>
 
</ion-footer>