<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
      
       <ion-buttons>
         <ion-button >
            <ion-icon slot="icon-only" src="assets/icons/person-circle-outline.svg" ></ion-icon>
         </ion-button>
         <ion-button >{{global.UserNameAbrev}}</ion-button>
       </ion-buttons>
        
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let pages of navigate">
      <ion-menu-toggle auto-hide="true">
        <ion-item routerDirection="forward" (click)="naviguer(pages)">
            <ion-icon [name]="pages.icon" slot="start"></ion-icon>
               {{pages.title}} 
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
