<ion-header>
  <ion-toolbar>
    <ion-title>QrcodeScanner</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content style="width: 100%;" padding style="background: none transparent;">
    <button style="vertical-align: bottom;" ion-button (click)="qrscanner()">Scanner le QR</button>

      <div *ngIf="scannedData" style="background: darksalmon;">
        <p>
          Informations scannées : <b>{{scannedData}}</b>
        </p>
      </div>

  <ion-button style="vertical-align: bottom;" (click)="stopScanning()" >stop scanning</ion-button>
</ion-content>
