
.linear_bg {
    background-color: linear-gradient(
        197deg, 
        #fdbb2d 0%, 
        #1a2a6c 100%
    ) !important;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ion-card {
    width: 46%;
    margin: 7px;
}

