
ion-select {
    width: 100%;

    justify-content: center;
    /* Applies to the value and placeholder color */
    color: #545ca7;
  
    /* Set a different placeholder color */
    --placeholder-color: #971e49;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
  }
  


.MyAgm {
  height: 100vh;
}