<ion-header [translucent]="true">
  
  <ion-toolbar color="danger">
    <ion-title>
      Blassa 
    </ion-title>
   
    <ion-buttons slot="secondary">
      <ion-button (click)="Logout()">
        <ion-icon slot="icon-only" name="contact"  ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isDriver" routerLink="/qrscanner">
        <ion-icon slot="icon-only" name="qr-scanner"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <span style="font-size: smaller">Bienvenue {{NomPrenom}}</span>
</ion-header>


 
   <ion-content class="ion-padding"> 

   
    
        
    

<span *ngIf="isDriver && !isAdmin" vertical="top">
  

        <ion-textarea style="font-size: small;">Le prochain voyage numéro: {{VoyageEnCours}} <br/> Prévu le: <br/>{{DateVoyageEnCours}} </ion-textarea>
     
        <ion-textarea  style="font-size: small;">Jusqu'au maintenant vous avez:<br/> {{ResNbr}} réservations </ion-textarea>
     
    
            
                <ion-card *ngFor="let resv of Reservations; let i = index" style="width: 100%">
                     <ion-card-header>
                       <ion-card-title style="font-size: small;">Reservation n°{{i+1}}</ion-card-title>
                       <ion-card-subtitle> Au nom de:{{resv.NomPrenom}} Tel:{{resv.Tel}} </ion-card-subtitle>
                     </ion-card-header>
                     <ion-card-content>
                         <ion-button shape="round" color="secondary" size="small" (click)="ConfirmeRes(resv.Client)">
                           <ion-icon size="small" slot="icon-only" name="checkmark"></ion-icon>
                         </ion-button>
                         <ion-button shape="round" color="danger" size="small" (click)="RemoveRes(resv.Client)">
                           <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
                         </ion-button>
                     </ion-card-content>
                </ion-card> 
  
          
    
              <ion-item>
                <ion-label>Définir un nouveau voyage:</ion-label>
              </ion-item>
              <ion-item>
                
                <ion-label style="font-size: small;" color="mango">Votre direction</ion-label>
                <ion-select style="font-size: small;" interface="popover" [(ngModel)]="Destination">
                  <ion-select-option value="KT">Tunis</ion-select-option>
                  <ion-select-option value="TK">Kébili</ion-select-option>
                </ion-select>

                   
                  <ion-datetime style="font-size: small;" placeholder="Date du voyage" (ionChange)="dateChanged()" [(ngModel)]="DateVoyage" displayFormat="DD-MM-YYYY" pickerFormat="DD MM YYYY">
                      </ion-datetime>
                  </ion-item>
              
          
  </span>

<span *ngIf="!isDriver && !isAdmin" vertical="top">
    <span *ngIf="ResNbr == 0" >
                <ion-label style="font-size: small;" color="mango">Votre direction</ion-label>
                <ion-select interface="popover" [(ngModel)]="Direction" (ionChange)="DirChange()">
                  <ion-select-option value="KT">Tunis</ion-select-option>
                  <ion-select-option value="TK">Kébili</ion-select-option>
                </ion-select>
                
                <ion-label style="font-size: small;" color="mango">Choisir entre les dates disponibles</ion-label>
                <ion-select interface="popover" [(ngModel)]="selected_value0" (ionChange)="latlngChange(selected_value0)">
                  <ion-select-option *ngFor="let date_voyage of DatesVoyages" [value]="date_voyage.email">
                    <span style="font-size: 12px">  {{date_voyage.Date_Depart}}</span>
                  </ion-select-option>
                </ion-select>
    </span>
    <span *ngIf="ResNbr > 0">
      <ion-label style="font-size: small;" >Votre direction:{{Direction}}</ion-label><br/>
      <ion-label style="font-size: small;" >Date prévu du voyage:{{selected_value0}}</ion-label>
    </span>     
                 
    <agm-map [zoom]="8" [latitude]="latme" [longitude]="lngme"  #AgmMap [mapTypeId]="'hybrid'">
      <agm-marker *ngFor="let position of Drivers; let i = index" [latitude]="position.lat" [longitude]="position.lng" [label]="position.Dir"
         (markerClick)="onMarkerClick(position)"  >
         <agm-info-window #infowindow [isOpen]="position.lat == latme">
          <div>
            <h4>{{ position.NomPrenom }}</h4>
          </div>
          <div class="agm-info-content">
            <div class="content-row">
              <div>EMAIL:</div> {{position.email}}
            </div>
            <div class="content-row">
              <div>TEL</div>: {{ position.Tel }}
            </div>
            <div class="content-row">
              Veuillez cliquer sue le Marker rouge pour réserver une place
            </div>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>           
          
 </span>

      


 <span *ngIf="isAdmin && !isDriver"> 
  <ion-card  *ngFor="let item of Users">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{item.email}} of {{item.Tel}}</ion-card-title>
        <ion-card-subtitle>Est un: {{item.driver}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
 
        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
 
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
 
        </ion-button>
      </ion-card-content>
    </span>
   <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Nom (Email)</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Tel</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.Tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Nature</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.driver"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>

  <ion-button expand="block" fill="clear" routerLink="/register">
    Create a new account
  </ion-button>

 </span>



</ion-content>
