<ion-header>
  <ion-toolbar>
    <ion-title>
      Partager l'info!!!!
    </ion-title>
    
    <ion-buttons slot="secondary">
      <ion-button (click)="Logout()">
        <ion-icon slot="icon-only" name="contact"  ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
 
    <ion-grid fixed>
      <ion-row>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Enter Theme" [(ngModel)]="Theme"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Enter Message" [(ngModel)]="Message"></ion-input>
            </ion-item>
          </ion-col>
     
      </ion-row>

      <ion-row>
            <ion-col   class="ion-text-center">
              <ion-button  (click)="CreateMessage()" [disabled]="!Theme || !Message">
                <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
                &nbsp;Create Message with theme
              </ion-button>
            </ion-col>
      </ion-row>

    </ion-grid>

 <ion-card *ngFor="let item of Messages">
      <ion-card-header>
        <ion-card-title>{{item.Theme}}</ion-card-title>
        <ion-card-subtitle>From: {{item.User}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          {{item.Message}}
      </ion-card-content>
  </ion-card>      
   <ion-grid *ngIf="isAdmin" fixed>   
      <ion-row>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Enter Email" [(ngModel)]="studentMail"></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Name" [(ngModel)]="studentName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Age" [(ngModel)]="studentAge"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Enter Address" [(ngModel)]="studentAddress"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col   class="ion-text-center">
        <ion-button  (click)="CreateRecord()" [disabled]="!studentName || !studentAge || !studentAddress">
          <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
          &nbsp;Create Record
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 <span *ngIf="isAdmin"> 
  <ion-card  *ngFor="let item of students">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{item.Name}} of {{item.Age}} years</ion-card-title>
        <ion-card-subtitle>From: {{item.Address}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
 
        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
 
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
 
        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Edit
              </ion-col>
              <ion-col>
                <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                  Cancel
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                  Update
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label><strong>Name</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Age</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditAge"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><strong>Address</strong></ion-label>
          <ion-input type="text" [(ngModel)]="item.EditAddress"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>
</span>

</ion-content>